{% extends "base.html" %}
{% load static %}

{% block header %}
{% endblock header %}

{% block content %}
    <div style="width: 100%;">
        <div id="time" class="text-center mt-3 h1" style="width: 50%;">
            Time: {{ time_now }}
        </div><br>
        <canvas style="border: 3px solid black; width: 50%; float: left;"></canvas>
        {{ room_name|json_script:"room-name" }}
        <div style="margin-left: 52%;">
            <textarea
                class="chat__item__container"
                id="id_chat_item_container"
                style="font-size: 20px; border: 3px solid black; width:96%; aspect-ratio: 5 / 3; "
                disabled="true"
            ></textarea>
            <br />
            <button type="submit" id="id_message_send_button" style="float: right; margin-right: 3%;">Send Message</button>
            <input type="text" id="id_message_send_input" style="float: right;"/>
            <br />
        </div>
    </div>
    {% if request.user.is_authenticated  %}
        <div> Logout <a href = "/">Logout</a></div>
    {% endif %}
    <script src="/static/data/collision.js"></script>
    <script src="/static/js/classes.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/clock.js"></script>
    <!-- import collision, classes before index -->
{% endblock content %}